<form action="/radio/song/" method="post">
  Start Year: <input type="text" name="startYear"><br>
  End Year: <input type="text" name="endYear"><br>
    Language: <input type="text" name="language"><br>
    Emotions:
    <input type="checkbox" name="mood" value="happy"><label>Happy</label><br>
  <input type="checkbox" name="mood" value="sad"><label>Sad</label><br>
  <input type="checkbox" name="mood" value="party"><label>Party</label><br>
  <input type="checkbox" name="mood" value="relaxed"><label>Relax</label><br>
  <input type="checkbox" name="mood" value="angry"><label>Angry</label><br>
  <input type="submit" value="Submit">
</form>